body {
  margin: 0;
  padding: 0;
}
html, body, [class*=Page] {
  height: 100%; 
  overflow: hidden;
}
.slide {
  list-style-type: none;
}

.button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  
  border: 1px solid #333;

  text-decoration: none;
  color: inherit;
}
/********/
.presenterPage {
  
}
.presenterPage .active {
  background-color: #ddd;
}

/*******/

.audiencePage {
  background-color: #333;
  color: #eee;

}
.audiencePage .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}
.audiencePage .controls {
  position: fixed;
  bottom: 0;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 30%;

  opacity: 0;
  transition: opacity 0.3s; 
}
.audiencePage .controls:hover {
  opacity: 1
}


/************/

.editorPage {
  padding: 1rem;
  padding-bottom: 4rem;
  overflow-y: scroll;
  display: relative;
  background-color: white;
}
.editorPage .footer {
  background-color: inherit;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid #aaa;
}
.editorPage textarea {
  width: 80%;
  height: 20rem;

  font-size: 1rem;
}

